<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
<!--     <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Microsoft .NET" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" /> -->
	<add key="myget.org dotnet-coreclr" value="https://www.myget.org/F/dotnet-coreclr/api/v3/index.json" /> 
	<add key="myget.org dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" /> 
	<add key="myget.org dotnet-corefxtestdata" value="https://www.myget.org/F/dotnet-corefxtestdata/api/v3/index.json" /> 
	<add key="myget.org dotnet-buildtools" value="https://www.myget.org/F/dotnet-buildtools/api/v3/index.json" /> 
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> 

  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <config>
    <add key="repositoryPath" value="E:\VisualStudio\NuGet\Repository" />
    <add key="dependencyVersion" value="Highest" />
  </config>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzuOD+VwqzEOgcT3R+zfl7gAAAAACAAAAAAADZgAAwAAAABAAAADZS5+EcgD32L4S0C6JSbQoAAAAAASAAACgAAAAEAAAAMbtGU42caAy6uqbtGok9c4oAAAAZb+56ZGNxIz8i+iRmGYffyp/1jG/XzxUlgYRUxTFmMd09Kvj9O/aqhQAAABfGSRuWSgKNSR5rm1FlDYYlj7xaQ==" />

  </apikeys>
</configuration>